<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- Database Configuration -->
    
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/infinitepractice</property>
        <property name="hibernate.connection.username">root</property>
        
        <!-- Hibernate Configuration -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        
        <!-- xml mapping -->
        <!-- path of xml files -->
        <mapping resource ="com/java/hib/model/Employ.hbm.xml"/>
        <mapping resource ="com/java/hib/model/Login.hbm.xml"/>    </session-factory>
</hibernate-configuration>
